@using Example.Web.Areas.Admin.Models
@model UserPasswordModel
@{
    ViewBag.Title = "User Collection";
    ViewBag.Header = "Change Password";
    ViewBag.ActiveSection = "User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Password", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Username)
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(x => x.Username)
            <div class="controls value">@Html.DisplayTextFor(x => x.Username)</div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Password)
            <div class="controls">
                @Html.PasswordFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.PasswordConfirm)
            <div class="controls">
                @Html.PasswordFor(x => x.PasswordConfirm)
                @Html.ValidationMessageFor(x => x.PasswordConfirm)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a href="@Url.Action("Index")" class="btn">Cancel</a>
        </div>
    </fieldset>
}